@charset "UTF-8";
/*Переменные для цветовой палитры*/
:root {
  --primary-bg-color: #2f303a;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --btn-hover: #188ce8;
  --spec-color: #fff;
  --fh-bg-color: #2f303a;
  --color-footer: rgba(255, 255, 255, 0.6);
  --bg-color-button: #f5f4fa;
  --border-bottom: #ececec;
  --border-card: #eeeeee;
  --border: #afb1b8;
  --color-social-network-bg: rgba(255, 255, 255, 0.1);
  --duration: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

.body .button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #757575;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list,
.main .company-list,
.task-list,
.company-title,
.clients-title,
.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title-h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .title-h2 {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .title-h2 {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .title-h2 {
    font-size: 36px;
  }
}

.section__title {
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199.98px) {
  .section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.43;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
  position: relative;
}

.logo--position {
  margin-left: auto;
  margin-right: auto;
}

.logo__dark--head {
  color: var(--primary-text-color);
}

.logo-color {
  color: #2196f3;
}

.logo-color2 {
  color: #fff;
}

@media screen and (max-width: 767.98px) {
  .logo--pad {
    padding: 16px;
  }
}

.button {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button-hero {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

.footer_button {
  position: relative;
}

.button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
}

@media screen and (max-width: 1199.98px) {
  .button-footer {
    margin-left: 0;
  }
}

.button-footer-icon {
  position: absolute;
  fill: white;
  top: 13px;
  right: 28px;
}

.button-modal {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .navigation__list {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-bottom);
}

.navigation__link--current {
  color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .contacts__list {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__email {
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__email:hover, .header__email:focus {
  color: var(--accent-color);
}

.header__email:hover .icon-mail,
.header__email:focus .icon-mail {
  fill: var(--accent-color);
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__phone {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__phone:hover, .header__phone:focus {
  color: var(--accent-color);
}

.header__phone:hover .icon-phone,
.header__phone:focus .icon-phone {
  fill: var(--accent-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  position: relative;
}

.navigation__link--current::after {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0;
  content: ' ';
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
}

.btn-menu {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  right: 0;
  top: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.btn-menu .icon-open {
  opacity: 1;
}

.btn-menu.is-open .icon-open {
  opacity: 0;
}

.btn-menu .icon-close {
  opacity: 0;
}

.btn-menu.is-open .icon-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-contacts {
  margin-top: 180px;
  margin-bottom: 64px;
}

.mobile-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-item:not(:last-child) .mobile-menu-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-item {
  margin-right: 10px;
  margin-bottom: 32px;
}

.mobile-menu-item:last-child {
  margin-right: 0;
}

.mobile-menu-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav-item {
  padding-bottom: 32px;
}

.mobile-menu-nav-item:last-child {
  padding-bottom: 0;
}

.mobile-menu-font {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-item:first-child .mobile-menu-font {
  font-size: 24px;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-menu-item:first-child .mobile-menu-font {
    font-size: 34px;
  }
}

.mobile-menu-nav-link.current {
  color: #188ce8;
}

.mobile-menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
  color: #2196f3;
}

.mobile-menu-icon:hover, .mobile-menu-icon:focus {
  fill: #2196f3;
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 210px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature {
  list-style-type: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (max-width: 767px) {
  .feature__item {
    max-width: 450px;
  }
  .feature__item__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature__item__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    width: calc((100% - 4 * 15px) / 2);
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.feature__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.overlay {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img_overlay.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_overlay.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img_overlay@2x.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_overlay@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .overlay {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img_overlay_mobile.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_overlay_mobile.jpg);
  }
}

@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img_overlay_mobile@2x.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_overlay_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img_overlay_tablet.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_overlay_tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img_overlay_tablet@2x.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_overlay_tablet@2x.jpg);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 528px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__icon {
  fill: currentColor;
}

.close-button:hover, .close-button:focus {
  color: #2196f3;
}

.order-form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .order-form__title {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.order-form__field {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.order-form__label, .order-form__comments__label, .order-form__comments__text {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 1199px) {
  .order-form__label, .order-form__comments__label, .order-form__comments__text {
    letter-spacing: 0.03em;
  }
}

.order-form__input-container {
  position: relative;
  display: block;
}

.order-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  color: #212121;
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__field:focus-within .order-form__input,
.order-form__field:focus-within .order-form__comments__text {
  outline: 0;
  border-color: #2196f3;
}

.order-form__field:focus-within .order-form__icon {
  color: #2196f3;
}

.order-form__comments {
  margin-bottom: 20px;
}

.order-form__comments__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__comments::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-form__comments:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-form__comments::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-form__comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.checkbox__container {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox__icon-checked {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon-unchecked {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #757575;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__label {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .checkbox__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 5px;
  }
}

.checkbox__link {
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox__input:checked + .checkbox__icon-checked {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.checkbox__input:checked ~ .checkbox__icon-unchecked {
  border-color: #2196f3;
}

.checkbox__input:focus ~ .checkbox__icon-unchecked,
.checkbox__input:hover ~ .checkbox__icon-unchecked {
  border-color: #2196f3;
}

.checkbox__input:focus:checked ~ .checkbox__icon-unchecked,
.checkbox__input:hover:checked ~ .checkbox__icon-unchecked {
  border-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .team {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section--bgr {
  background-color: var(--bg-color-button);
}

.team__item {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .team__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin-bottom: 30px;
    text-align: center;
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    text-align: center;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
  .team__item:nth-child(4n) {
    margin-right: 0;
  }
  .team__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.team__item .team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.team__item .team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team__item .team__group {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--spec-color);
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item .social__item:not(:last-child) {
  margin-right: 10px;
}

.team__item .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.team__item .social__link:hover, .team__item .social__link:focus {
  background-color: var(--accent-color);
}

.team__item .social__link:hover .social__icon,
.team__item .social__link:focus .social__icon {
  fill: var(--spec-color);
}

.task {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .task {
    display: none;
  }
}

.task__container {
  width: 100%;
  height: 70px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
  left: 0px;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.task__name {
  position: relative;
}

.task__text {
  font-size: 14px;
  font-weight: 700;
}

.task__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task__item:not(:last-child) {
  margin-right: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients__item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc((100% - 4 * 15px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc((100% - 6 * 15px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .clients__item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56px;
}

@media screen and (max-width: 767.98px) {
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.project__list .project__btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--bg-color-button);
  color: var(--primary-text-color);
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__list .project__btn:hover,
.project__list .project__btn:focus {
  color: var(--spec-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
  .project__list .project__btn-item:not(:last-child) {
    margin-right: 8px;
  }
}

.project__list .project__btn-item {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .project__list .project__btn-item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .project__list .project__btn-item:nth-child(2n + 3) {
    margin-right: 0;
  }
}

.project-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767.98px) {
  .project-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .project-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767.98px) {
  .project-group__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .project-group__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .project-group__item {
    margin-right: 30px;
  }
  .project-group__item:nth-child(2n) {
    margin-right: 0;
  }
  .project-group__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .project-group__item {
    max-width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-group__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .project-group__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.proj-descr {
  padding: 20px 24px;
  border-right: 1px solid var(--border-card);
  border-left: 1px solid var(--border-card);
  border-bottom: 1px solid var(--border-card);
  border: 1px solid var(--border-card);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .proj-descr {
    width: 306px;
  }
}

.project-group__link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-group__link:hover, .project-group__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list .titles {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}

/*Всплывающее окно портфолио*/
.overlay-text {
  width: 322px;
  height: 168px;
  color: var(--spec-color);
  top: 0;
  right: 0;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-group__item:hover .overlay-portfolio,
.project-group__item:focus .overlay-portfolio {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*Нижний колонтитул*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .footer__title {
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .connect-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .container--footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .container--footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-adress {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-adress__telmail {
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress__link:hover {
  color: #2196f3;
}

.footer-connect {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .footer-connect {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-connect {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-connect {
    margin-left: auto;
  }
}

.footer-connect__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer-connect__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-connect__field:focus-within .footer-connect__input {
  outline: 0;
  border-color: #2196f3;
}

.footer-connect__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 12px 16px;
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-connect__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-connect__input {
    width: 358px;
    margin-bottom: 0px;
  }
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover, .social-network__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social-network-team {
  margin-top: 16px;
}

.social-network-team__item {
  fill: #afb1b8;
}

.social-network-team__link {
  background-color: #fff;
  fill: #afb1b8;
}

.social-network-team__link:hover, .social-network-team__link:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--border);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__icon {
  width: 20px;
  height: 20px;
  fill: var(--spec-color);
}

.connect__list .connect__item:not(:last-child) {
  margin-right: 10px;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover, .social-network__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social-network-team {
  margin-top: 16px;
}

.social-network-team__item {
  fill: #afb1b8;
}

.social-network-team__link {
  background-color: #fff;
  fill: #afb1b8;
}

.social-network-team__link:hover, .social-network-team__link:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*# sourceMappingURL=main.css.map */