.hero {
  background-color: $back-color-ef;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 210px;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.feature {
   
  @include mq(mobile-only) {
   display: block;
  }

  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }

  @include mq(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  



  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: $button-back;
    
      border-radius: 4px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $head-color;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    text-align: start;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.feature__item {
  text-align: center;
  
    @include mq (mobile-only) {
      margin-bottom: 30px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    @include mq (tablet-only) {
      width: calc((100% - 2 * 30px)/2);
      margin: 15px;
    }
  
    @include mq (desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    }
}
    
  

.overlay {
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img_overlay.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img_overlay@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img_overlay_mobile.jpg);

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img_overlay_mobile@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img_overlay_tablet.jpg);

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img_overlay_tablet@2x.jpg);
    }
  }
}
