.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
  position: relative;

@include mq (mobile-only) {
  margin-right: 0;
}
}
.logo--position {
@include mq (tablet-only) {
    margin-right: 0;
  }
}

.logo__dark--head {
  color: var(--primary-text-color);
}

.logo-color {
  color: $hover-color;
}

.logo-color2 {
  color: $white-color;
}

.logo--pad {
@include mq (mobile-only) {
  padding-top: 10px;
  padding-bottom: 10px;
}
}
